$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$font-size-base: 1.2rem;
$h1-font-size: $font-size-base * 3;

@import "bootstrap/bootstrap";

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Fira Sans";
  font-weight: 800;
}
.page-content {
  padding: 0;
}

.hero {
  color: white;
  min-height: 100vh;

  background: url('/assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin-bottom: .2em;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 2em;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
  
.overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  &.dark {
    background-color: rgba(0,0,0,0.8);
  }
}


section {
  min-height: 400px;

    @include media-breakpoint-down(sm) {
  h2, h3, h4 {
      text-align: center;
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
  }
}

section.intro {
  img.wappen {
    max-width: 250px;
  }
}

section.haus {
  background: url('/assets/images/haus.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .address {
    font-size: 2em;
  }
}

section.friends {
  background: url('/assets/images/karte.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .lead {
    font-weight: 800;
  }

  a {
    color: #e6f6a4;
    font-size: 1.2em;
  }
}

section.contact {
  background-color: #f6f4f3;
  .icon {
    width: 40px;
    height: 40px;
  }
}

.light {
  color: white;
}

.fade-in-section {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
  &.fade-left {
    transform: translateX(-20vh);
  }
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

table.program {
  @extend .table;
  .date, .time {
    white-space: nowrap;
  }
  th, td {
    text-align: left;
  }
}
