<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="hero">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-6 glideInRight">
              <h1>{{ page.hero.title }}</h1>
              <h2>{{ page.hero.subtitle }}</h2>
              <div>
                <a href="/" class="btn btn-danger btn-lg mr-2">{{ page.hero.program }}</a>
                <a href="/" class="btn btn-danger btn-lg">{{ page.hero.instagram }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="intro">
        <div class="container fade-in-section">
          <div class="d-sm-flex">
            <div class="d-flex justify-content-center">
              <div class="mb-4">
                <img src="/assets/images/wappen.jpeg" class="wappen" />
              </div>
            </div>
            <div class="ml-sm-5">
              <h2>Lorem Ipsum Dolor</h2>

              <div class="row">
                <div class="col-md-6 col-lg-4 text-left mb-4">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. nullam ac orci nec nulla tristique dictum. cras at nibh sed tellus venenatis fermentum. proin mattis ultrices imperdiet. morbi vitae auctor urna. curabitur ultrices velit dui, eu iaculis ligula volutpat vitae. nulla sagittis molestie posuere. 
                </div>
                <div class="col-md-6 col-lg-4 text-left">
              nulla sagittis molestie posuere. donec pulvinar, justo eget rutrum interdum, lorem risus pretium arcu, eget iaculis lorem est in neque. sed eu convallis leo. ut efficitur, lectus eu laoreet sagittis, velit tellus ornare nulla, dapibus accumsan magna orci eu eros. etiam ullamcorper cursus rutrum.
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="haus">
      <div class="overlay">
        <div class="container light text-center fade-in-section fade-left">
          <h2>Lorem Ipsum Dolor</h2>

          <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-2 text-left mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac orci nec nulla tristique dictum. Cras at nibh sed tellus venenatis fermentum. Proin mattis ultrices imperdiet. Morbi vitae auctor urna. Curabitur ultrices velit dui, eu iaculis ligula volutpat vitae. Nulla sagittis molestie posuere. 
            </div>
            <div class="col-md-6 col-lg-4 text-left">
          Nulla sagittis molestie posuere. Donec pulvinar, justo eget rutrum interdum, lorem risus pretium arcu, eget iaculis lorem est in neque. Sed eu convallis leo. Ut efficitur, lectus eu laoreet sagittis, velit tellus ornare nulla, dapibus accumsan magna orci eu eros. Etiam ullamcorper cursus rutrum.
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="social">
      <div class="container text-center fade-in-section">
        <h2>Lorem Ipsum Dolor</h2>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mx-auto">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. nullam ac orci nec nulla tristique dictum. cras at nibh sed tellus venenatis fermentum. proin mattis ultrices imperdiet. morbi vitae auctor urna. curabitur ultrices velit dui, eu iaculis ligula volutpat vitae. nulla sagittis molestie posuere. </p>
          <img src="/assets/images/facebook.jpg" class="icon mr-4"/>
          <img src="/assets/images/instagram.jpg" class="icon"/>
          </div>

        </div>

      </div>
    </section>

  </body>

</html>
